<!DOCTYPE html>
<html lang="pl-PL">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="style.css">
    <title>Villager Trade</title>
</head>
<body>
    <div id="app">
        <div id="select-container">
            <label for="profession">Choose villager's profession: </label>
            <select name="profession" id="profession" @change="changeProfession">
                <option v-for="profession in professions" :value="{ text: profession.name }">{{ profession.name }}</option>
            </select>
            <br>
            <h1>{{ currentProfession }}</h1>
        </div>
        <div id="trades">
            <div class="trade-box">
                <div v-for="wantedItem in professions[currentProfessionIndex].products[currentProductIndex].wantedItems" class="item-container">
                    <img :src="'IMG/' + wantedItem.name.replaceAll(' ', '_') + '.png'" class="wanted-item-img">
                    <p class="price">{{ wantedItem.price }}</p>
                </div>
            </div>
            <img src="IMG/gui_arrow.png">
            <div class="trade-box">
                <div v-for="(trade, index) in professions[currentProfessionIndex].products" @click="changeProduct(index)" class="item-container">
                    <img :src="'IMG/' + trade.name.replaceAll(' ', '_') + '.png'" class="wanted-item-img">
                    <p v-if="trade.quantity" class="price">{{ trade.quantity }}</p>
                </div>
            </div>
        </div>
    </div>

    <script src="app.js"></script>
</body>
</html>
