@font-face{
    font-family: 'Minecraft';
    src: url('font/minecraft_font.ttf');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Minecraft';
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #111;
    color: white;
}

#app{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin-top: 100px;
}

#trades{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
    gap: 5%;
}

#trades > img{
    margin: auto 0;
}

.trade-box{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 48%;
}

.trade-box > div{
    width: 20%;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(IMG/eq.png);
    background-size: cover;
}

.trade-box > div:hover{
    transform: scale(1.05);
    cursor: pointer;
}

#select-container{
    text-align: center;    
}

select, label{
    font-size: 1.5rem;
}

select{
    border: none;
    border-bottom: #ccc solid 2px;
}

select:focus{
    outline: none;
}

.wanted-item-img{
    width: 75%;
}

#price{
    position: absolute;
    bottom: 3%;
    right: 7%;
}

@media screen and (max-width: 800px){
    .trade-box > div{
        width: calc(100%/3);
    }
}
