@import url('https://fonts.cdnfonts.com/css/minecraft-3');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Minecraft', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #111;
    color: white;
}

#app{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    width: 80%;
    aspect-ratio: 20/9;
    margin-top: 20px;
}

.trades{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
    gap: 5%;
}

#trades > img{
    margin: auto 0;
}

.trade-box{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 48%;
}

.trade-box > div{
    width: 20%;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(IMG/eq.png);
    background-size: cover;
}

.trade-box > div:hover{
    transform: scale(1.05);
    cursor: pointer;
}

#select-container{
    text-align: center;    
}

select, label{
    font-size: 1.5rem;
}

select{
    border: none;
    border-bottom: #ccc solid 2px;
}

select:focus{
    outline: none;
}

.wanted-item-img{
    width: 75%;
}

.price{
    position: absolute;
    bottom: 5%;
    right: 8%;
    font-size: 2rem;
}

.price-range{
    font-size: 1.3rem;
}

.item-container{
    position: relative;
}

input[type=number]{
    font-size: 3rem;
    width: 100%;
    background: none;
    color: white;
    border: white solid 3px;
    padding: 5px;
}

input[type=number]:focus{
    outline: none;
}

input[type=number]:invalid{
    outline: 5px solid red;
}

.item-container:hover .tooltip{
    visibility: visible;
    opacity: 1;
}

.tooltip{
    visibility: hidden;
    opacity: 0;
    position: absolute;
    z-index: 100;
    text-align: center;
    transform: translateX(-50%);
    transition: .2s;
    width: 250%;
}

.tooltip-up{
    bottom: 110%;
    left: 50%;
}

.tooltip-down{
    top: 110%;
    left: 50%;
}

@media screen and (max-width: 800px){
    .trade-box > div{
        width: calc(100%/3);
    }
    .price{
        font-size: 1rem;
    }
    .price-range{
        font-size: .7rem;   
    }
}   
