@font-face{
    font-family: 'Minecraft';
    src: url('font/minecraft_font.ttf');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Minecraft';
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#app{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin-top: 100px;
}

#trades{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.trade-box{
    width: 48%;
    height: 100px;
    background: #ccc;
    display: flex;
    flex-direction: column;
}

#select-container{
    text-align: center;    
}

select, label{
    font-size: 1.5rem;
}

select{
    border: none;
    border-bottom: #ccc solid 2px;
}

select:focus{
    outline: none;
}